/* Nav Link */

.list_link {
    width: 30%;
    background: transparent;
    height: 900px;
}
.width_themes {

}
.img_cart {
    width: 100%;
}

.list_link>a {
    display: block;
    color: black;
    font-size: 16px!important;
    text-decoration: none;
    margin: 20px 0px;
    font-size: 30px;
    text-align: end;
}

.list_link a:hover {
    color: blueviolet;
}

.wrap {
    display: flex;
    margin-top: 16px;
}

.grid {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.cart {
    display: inline-block;
    max-width: 300px;
    height: 400px;
    margin-left: 0px;
    /* border: 1px solid grey; */
    padding: 10px 10px 10px 10px;
    /* border-radius: 15px 15px 15px 15px; */
    margin: 0px 10px;
}
.effect:hover, .effect.hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
    }

@media (max-width:768px) {
    /* Nav Cart */
    .grid {
        display: block;
        background: var(--indigo);
        overflow: auto;
        white-space: nowrap;
        padding: 24px;
    }
    /* Cart Nav */
    .wrap {
        display: block;
    }
    .list_link {
        width: 50%;
        /* background: black; */
        height: 150px;
        margin: auto;
    }
    .list_link>a {
        text-align: center;
    }
    .title .center .description h4 {
        white-space: break-spaces;
    }
}

.cart a {
    text-decoration: none;
}

/* Text Card - Nome Status Preço */

.name-theme .name h1 {
    font-size: 26px;
    color: #2a2f36;
    font-weight: 500;
    margin: 20px 0px;
}

.name-theme .status h2 {
    font-size: 26px;
    color: black;
    background: #dc5b5d;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    vertical-align: middle;
    border-radius: 3px;
    font-size: 14px;
    margin: 20px 0px;
    padding: 10px;
}

.name-theme .price h3 {
    color: #abb7b7;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: .04em;
    margin: 20px 0px;
}

.title .center .description {
    height: 70px;
}

.title .center .description h4 {
    color: rgb(255 255 255);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding: 10px;
    
    width: 90%;
    margin: auto;
}

.name-theme {
    display: flex;
}

.name {
    width: 40%;
}

.status {
    width: 50%;
    text-align: center;
}

.price {
    width: 30%;
    text-align: end;
}

/* Buttons Cart - Buy  & Views */

.btn_for_cart a {
    background-color: #1db954;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px;
}
.btn_for_cart a:hover {
    background:  rgb(30, 215, 96);
}

.btn_for_cart {
    text-align: center;
}
@media (max-width:768px) {
    .name-theme .status h2 {
        font-size: 9px;
    }
    .status {
        width: 30%;
    }
    .title .center .description h4 {
        color: black;
        text-align: left;
    }
}