@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html {
    font-family: 'Work Sans', sans-serif;
}

/* Touch Import CSS */

.touch_side {
    display: none;
}

@media (max-width:768px) {
    .touch_side {
        display: block;
        text-align: center;
    }
    .touch_side span {
        font-size: 10px;
        color: slategray;
    }
}

/* Touch Import End */

/* Footer Import CSS */
.footer h1 {
  text-align: end;
  width: 90%;
  color: darkgrey;
}
.footer .width_center .icons {
    color: black;
    text-align: end;
    word-spacing: 10px;
    font-size: 36px;
}

.footer .width_center .icons i {
    color: black;
    text-align: center;
}

.footer .width_center .icons {
    width: 90%;
    margin: auto;
}

.footer .copy {
    width: 90%;
    text-align: center;
    margin: auto;
}

.footer .copy span {
    position: relative;
    top: 25px;
}

.footer .width_center {
    width: 90%;
    margin: auto;
    display: flex;
}

/* Footer Import End */

/* Chat Import CSS */
.chat span {
    background: red;
    padding: 5px 9px;
    position: absolute;
    border-radius: 10px;
    font-size: 7px;
    color: white;
    left: 48px;
    top: 1px;
    font-weight: 900;
   }
   .chat {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 99;
   }
   .chat a {
    margin: 0px 10px;
    font-size: 45px;
    color: green;
   }
   .chat {
    position: fixed;
    bottom: 10px;
    left: 15px;
    z-index: 99;
    background: #27D043;
    border-radius: 100%;
    padding: 10px 7px;
   }
   .chat a {
    margin: 0px 10px;
    font-size: 50px;
    color: white;
   }
   @media (max-width:768px) {
     .chat a {
      margin: 0px 10px;
      font-size: 40px;
      color: white;
     }
   }
/* Chat Import CSS End */
/* Newsletter */
/* Newsleteer End */
.newsletter_main .newsletter_center h1 {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 2px;
}
.newsletter_main {
  text-align: center;
  height: 100px;
}
.info input {
  background: transparent;
  border: 1px solid black;
  width: 400px;
  padding: 13px;
}
/* .info input {
  background: transparent;
    border: 1px solid black;
  width: 50%;
  padding: 10px;
} */
.import_newsletter {
  width: 90%;
  margin: auto;
}
.btn_newsletter {
  
}
/* Left Center Right */
.import_newsletter form {
  text-align: center;
    display: flex;
    justify-content: center;
}
.btn_newsletter {
  background: black;
  color: white;
  font-size: 26px;
  border: 4px solid #ca9f9f;
  padding: 2px;
  border-radius: 4px;
}

@media (max-width:768px) {
  .info input {
    width: 100%;
    background: transparent;
    border: 1px solid black;
  }
  .import_newsletter form{
    text-align: end;
    display: block;
    width: 90%;
    margin: auto;
  }
  .newsletter_main {
    height: 200px;
    margin-top: 50px;
  }
  .newsletter_center {
    max-width: 500px;
    margin: auto;
  }

}

/* Suporte Import CSS */
.width_suporte {

}
.suporte .width_suporte .text{
  width: 50%;
  margin: auto;
}
.suporte {
  height: 500px;
  text-align: center;
  margin-top: 90px;
}
.suporte a {
  background-color: #1db954;
padding: 15px 40px;
color: white;
border-radius: 50px;
text-decoration: none;
font-weight: bold;
font-size: 26px;

}
.suporte a:hover {
  background:  rgb(30, 215, 96);
}
.suporte .width_suporte .text h1 {
  text-align: left;
}
.suporte .width_suporte .text h2 {
  text-align: left;
  
  font-weight: normal;
}
@media (max-width:768px) {
  .suporte {
    width: 100%;
    margin: auto;
    margin-top: 90px;
  }
  .suporte .width_suporte .text {
    width: 90%;
    margin: auto;
  }
}
/* Suporte Import CSS End */

/* Nav link efeect */
.nav_efeect {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.nav_efeect:hover {
  border-bottom: 2px solid black;
}
.active {
  border-bottom: 2px solid black;
}
/* Nav link efeect End*/