.list_link {
    width: 10%;
    background: rgba(128, 128, 128, 0);
}
.name-theme {
    display: flex;
    width: 90%;
    margin: auto;
}
.boogie-down {
    width: 85%;
    display: flex;
    justify-content: center;
}
.title .center .description h4 {
    background: black;
    color: white;
}
.img_theme_desktop {
    width: 90%;
    margin: auto;
    display: block;
}

.img_theme_mobile {
    width: 100%;
    display: none;
}

.img_cart {
    max-width: 200px;
    margin: auto;
    display: block;
}

.btn_for_cart a {
    display: block;
}

.buy_or_views {
    background: linear-gradient(to right, #009fff, #ec2f4b);
    /* background: grey; */
    height: 500px;
    border: 1px solid #4b00ff;
    border-radius: 20px;
    box-shadow: 10px 10px #00ffdc;
}

@media (max-width:768px) {
    /* Mobile Imagem */
    .img_theme_mobile {
        display: block;
        margin: auto;
        width: 50%;
    }
    .img_theme_desktop {
        display: none;
    }
    .boogie-down {
        display: block;
        margin: auto;
    }
    .img_cart {
        max-width: 200px;
        margin: auto;
        display: block;
    }
    .buy_or_views {
        position: relative;
        background: grey;
        top: 100px;
        height: 400px;
    }
    .list_link {
        width: 50%;
    }
    .name {
        width: 50%;
    }
    .footer {
        position: relative;
        top: 150px;
    }
}