.list_link {
    width: 10%;
}
.name-theme {
    display: flex;
    width: 90%;
    margin: auto;
}
.boogie-down {
    width: 90%;
    display: flex;
    justify-content: center;
}

.img_theme_desktop {
    width: 90%;
    margin: auto;
    display: block;
}

.img_theme_mobile {
    width: 100%;
    display: none;
}

.img_cart {
    max-width: 200px;
    margin: auto;
    display: block;
}

.btn_for_cart a {
    display: block;
}

.buy_or_views {
    background: grey;
    height: 500px;
}

@media (max-width:768px) {
    /* Mobile Imagem */
    .img_theme_mobile {
        display: block;
        margin: auto;
        width: 50%;
    }
    .img_theme_desktop {
        display: none;
    }
    .boogie-down {
        display: block;
        margin: auto;
    }
    .img_cart {
        max-width: 200px;
        margin: auto;
        display: block;
    }
    .buy_or_views {
        position: relative;
        background: grey;
        top: 100px;
        height: 400px;
    }
    .list_link {
        width: 50%;
    }
    .name {
        width: 50%;
    }
    .footer {
        position: relative;
        top: 150px;
    }
}