/* Nav Link */
.list_link {
width: 15%;
background: transparent;
height: 900px;
}
.img_cart {
width: 100%;
}
.list_link > a {
display: block;
color: black;
font-size: 16px!important;
text-decoration: none;
margin: 20px 0px;
font-size: 30px;
text-align: end;
}
.list_link a:hover {
    color: blueviolet;
}
.wrap {
display: flex;
}
.grid {
display: flex;
flex-flow: wrap;
justify-content: center;
}
.cart {
display: inline-block;
max-width: 300px;
height: 400px;
margin-left: 0px;
border: 1px solid grey;
padding: 10px 10px 10px 10px;
border-radius: 15px 15px 15px 15px;
margin: 0px 10px;
}
@media (max-width:768px) {
    /* Nav Cart */
    .grid {
    display: block;
    background: var(--indigo);
    overflow: auto;
    white-space: nowrap;
    padding: 24px;
    }
    /* Cart Nav */
    .wrap {
    display: block;
    }
    .list_link {
    width: 50%;
    background: black;
    height: 150px;
    margin: auto;
    }
    .list_link > a {
    text-align: center;
    }
}